# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Resend Email Configuration
VITE_RESEND_API_KEY=
VITE_RESEND_FROM_EMAIL=noreply@yourdomain.com

# Cron Configuration
CRON_SECRET=your_random_secret_token
